<h3>Cadastro</h3>

<form class="form-cadastro">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nome do produto</mat-label>
    <input matInput placeholder="Digite o nome do produto" value="" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Valor</mat-label>
    <textarea matInput placeholder="Digite o valor..."></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Quantidade</mat-label>
    <input matInput type="number" value="" />
  </mat-form-field>

  <button mat-flat-button color="primary">Cadastrar</button>
</form>
